CMPM151_MS_Engine.sln
.vs/
Binaries/
DerivedDataCache/
Intermediate/
Plugins/CMPM151_MS_Engine/Binaries/
Plugins/CMPM151_MS_Engine/Intermediate/
Saved/
Script/
.vsconfig
Config/DefaultInput.ini
Config/HoloLens/HoloLensEngine.ini
