UEPhysicalModelingTk.sln
.vs/
Binaries/
DerivedDataCache/
Intermediate/
Plugins/UEPhysicalModelingTk/Binaries/
Plugins/UEPhysicalModelingTk/Intermediate/
Saved/
Script/
.vsconfig
Config/DefaultInput.ini
Config/HoloLens/HoloLensEngine.ini

# renom data
.renom/
